html {
  box-sizing: border-box;
}

*, *::before, *::after; {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #2c3950;
  position: relative;
  text-align: center;
  margin: 0;
  padding: 1em 0 0 0;

}

.roboto {
  position: relative;
  width: 320px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  transition: all 200ms linear;
}

.body {
  width: 320px;
  display: block;
  padding-top: 40px;
}

.brain {
  width: 46px;
  position: absolute;
  top: 2.5em;
  left: 9em;
}

.head-left {
  width: 125px;
  position: absolute;
  left: 35px;
  top: 0;
}

.head-right {
  width: 125px;
  position: absolute;
  right: 35px;
  top: 0;
}

header:hover .head-left {
  left: 0.5em;
}

header:hover .head-right {
  right: 0.5em;
}

header:hover .brain {
  top: 1.5em;
}

h1 {
  background-color: #1a2230;
  color: white;
  text-align: center;
  padding: 0.5em;
  font-family: "Contrail One";
  margin: 0;
}
